global
    log /dev/log local0
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 6h
    timeout server 6h
    timeout check 3s

frontend gator_websockets
    bind :12380 ssl crt /etc/haproxy/certs/artemisa.soft-gator.com.pem
    default_backend gator_websocket_nodes

backend gator_websocket_nodes
    balance roundrobin
    option tcp-check
    default-server inter 2s fall 2 rise 2
    server websocket_1 127.0.0.1:12381 check ssl verify none
    server websocket_2 127.0.0.1:12382 check ssl verify none
    server websocket_hera 10.100.0.33:12381 check ssl verify none
